

.photo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.photo-item {
  position: relative;
  margin: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 1.5rem;
  h4 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 0.9rem;
  }
  .meta {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: @nav-icon-color;
    }
  }

}

.photo-wrapper {
  position: relative;
  width: 150px;
  height: 240px;
  border-radius: 6pt;
  overflow: hidden;
  img {
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .printed {
    position: absolute;
    border-radius: 6pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: RGBA(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 3;

    transition: 177ms opacity;
    span {
      color: RGBA(255, 255, 255, 0.9);
      margin-top: 1rem;
      font-size: 0.9rem;
      transition: 177ms all;
    }
    svg {
      width: 60px;
      height: auto;
      transition: 177ms all;
      .st0 {
        fill: RGBA(255, 255, 255, 0.9);
      }
    }
    &:hover {
      opacity: 0.25;
      svg {
        width: 40px;
      }
      span {
        .translate(0, 100%);
      }
    }
  }
}

.photo-wrapper .loading-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 2rem;
  background: @brand-primary;
   &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-top: -(@btn-loader-size/2);
    margin-left: -(@btn-loader-size/2);
    display: block;

    content: '';

    width: @btn-loader-size;
    height: @btn-loader-size;

    border-width: 1px;
    border-style: solid;
    border-color: #fff transparent transparent;
    border-radius: 100%;

    box-shadow: 0 0 0 1px transparent;

    opacity: 1;

    animation: spinner-rotate .6s linear infinite;
  }

}

#photo-item-modal {
  border-radius: 6pt;
  max-width: 600px;
  .modal-header {
    background: white;
    padding: 2rem 3rem;
    // padding-bottom: 2rem;
    img, span {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      width: 50px;
      height: 50px;
    }
    span {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      span {
        font-size: 0.8rem;
        display: block;
        color: @nav-icon-color;
        margin: 0;
      }
    }
  }
  .modal-body {
    display: flex;
    background: white;
    padding: 2rem 3rem;
    padding-top: 0;
    padding-bottom: 3rem;

    .img {
      border-radius: 6pt;
      flex: 0 0 160px;
      width: 10rem;
      height: 16rem;
      overflow: hidden;
      box-shadow: 0px 0px 10px 3px RGBA(0, 0, 0, 0.25);

      img {
        height: 100%;
      }
    }
    .actions {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      // padding-right: 2rem;
      .row {
        display: flex;
        flex-direction: row;
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
    .actions a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 7.5rem;
      height: 7.5rem;
      border: 1px solid @ios-border;
      text-decoration: none;
      &:first-child {margin-right: 1rem;}
      svg {
        width: 4rem;
        height: 4rem;
        .st0 {
          fill: @ios-border;
        }
      }
      span {
        margin-top: 0.5rem;
        color: @ios-border;
      }
      &:hover {
        border-color: @brand-primary;
        svg .st0 {
          fill: @brand-primary;
        }
        span {
          color: @brand-primary;
        }
      }
    }
  }
  .modal-footer {
    background: white;
  }
}

@media screen and (max-width: 570px) {
  #photo-item-modal {
    .modal-header {
      span {
        font-size: 1.25rem;
      }
    }
    .modal-body {
      .img {
        display: none;
      }
      .actions {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #photo-item-modal {
    .modal-header {
      padding: 1.5rem;
      span {
        font-size: 1.25rem;
      }
    }
    .modal-body {
      padding: 1.5rem;
      padding-top: 0;
      .img {
        display: none;
      }
      .actions {
        padding: 0;
      }
    }
  }
}