template(name="accounts")
  .page#page-accounts
    .p-header
      .p-header-button.back
        i.ion-ios-arrow-back
        | Back

      .p-title 로그인

      .p-header-button.hidden
        | Forward
        i.ion-ios-arrow-forward
