template(name="activity")
  .activity-feed
    .activity-wrapper
      .activity-img
        img(src="http://res.cloudinary.com/cleanjeju/image/upload/v1446733606/jbgbhneiifeifrcrppsd.png")
      .activity-desc

