template(name="comments")
  .page#page-comments
    .p-header.cj
      .p-header-button.back
        i.ion-ios-arrow-back
        | 뒤로
      .p-title
        | 쓰레기 연대기

    .p-body
      .p-body-inner
        each comments
          .comments-wrapper
            .left
              .profile
            .right
              .meta
                .r-left
                  span.username
                    | {{createdUserName}}
                  span.created {{moFromNow createdAt withoutSuffix}}
                .r-right
                  i.ion-ios-heart-outline
              if imageUrl
                .comments-img
                  img(src="{{imageUrl}}")
              .comment-desc
                | {{description}}

    .comments-input
      textarea
      button.btn.btn-add-description
        i.icon.add
      #upload-comment-img
        button.btn.btn-add-image
          i.icon.photo
        input(type="file" accept="image/*")
