template(name="cropper")
  .page#page-cropper
    button.btn.btn-primary.btn-cropper-close
      i.icon.remove
    //- //- btn.btn.btn-primary.btn-cropper-desc
    //-   i.icon.font
    .cropper-outer
      img.crop-target
    button.btn.btn-primary.btn-upload-cropped
      | 글쓰기
  .page#page-desc
    .p-header
      .p-header-button.back
        i.ion-ios-arrow-back
        | 뒤로
    .p-body
      .p-body-inner
        textarea
        button.btn.btn-primary.btn-upload-cropped
          | 쓰레기 제보하기!