template(name="eventsListModal")
  .modal#create-event-modal
    .modal-header
      +svgCal
      .meta
        span.title 이벤트 추가
        span.subtitle 추억을 시작하세요
    .modal-body
      input.event-name(placeholder="이벤트명" name="event-name")
      .wrapper
        p 이벤트를 만들기 위해 이벤트명(행사명)을 입력하세요.
      //- input.event-code(placeholder="이벤트 코드")
      //- .wrapper
      //-   p 이벤트 접속을 위한 코드를 지정해주세요. 입력하지 않으면 자동 생성 됩니다. 추후에 수정이 가능하니 걱정마세요!
    .modal-footer
      .pull-right
        button.btn
          | 취소
        button.btn.btn-primary.btn-create-event
          | 이벤트 만들기