template(name="eventsList")
  .events-container
    a.event-item.create-event(href="#")
      +svgFolderPlus
      span(style="display:block;") 이벤트 추가
    each eventItem
      a.event-item(href="{{pathFor 'photoList'}}")
        .event-header
          span.event-name {{name}}
        .event-inner
          .event-date
            +svgCal
            span {{moFormat createdAt 'shortDate'}}

          .event-count-image
            +svgImg1
            span {{counts.image}}

          .event-count-print
            +svgSelphy
            span {{counts.print}}

    //- a.event-item(href="#")
    //-   .event-header
    //-     span.event-name Meteor Meetup
    //-   .event-inner
    //-     .event-date
    //-       +svgCal
    //-       span 11/11/2015

    //-     .event-total
    //-       +svgImg1
    //-       span 32