template(name="myPage")
  .myPage-wrapper
    .row
      .profile-meta
        .left
          span.profile
        .right
          .inner
            span.username {{currentUser.username}}
            span.email {{currentUser.emails.[0].address}}
            button.btn.btn-primary 프로필 수정
    .row
      .profile-desc
        if currentUser.profile.desc
          p {{currentUser.profile.desc}}
        else
          p 소개
    .row
      .profile-info
        .p-block
          span.n 59
          span.d 추종자
        .p-block
          span.n 124
          span.d 제보
        .p-block
          span.n 1,022
          span.d 칭찬
    .row
      .profile-uploads