template(name="myPage")
  .myPage-wrapper
    .row
      .profile-meta
        .left
          span.profile
        .right
          .inner
            span.username 김상유
            span.email sangyoo.km@gmail.com
            button.btn.btn-primary 프로필 수정
    .row
      .profile-desc
        p 제주도를 사랑하는 개발자입니다. 제주도의 쓰레기들을 없앱시다.
    .row
      .profile-info
        .p-block
          span.n 59
          span.d 추종자
        .p-block
          span.n 124
          span.d 제보
        .p-block
          span.n 1,022
          span.d 칭찬
    .row
      .profile-uploads
