template(name="photoList")
  .photo-list-container
    .search-wrapper
      label(for="search") 검색
      input#search(type="number")
    .photo-list
      //- .photo-item
      //-   .meta
      //-       h4 #112
      //-   .photo-wrapper
      //-     .printed
      //-       +svgSelphy
      //-       span 프린트 횟수 (1)
      //-     img.i(src="http://cdnstatic.visualizeus.com/thumbs/20/dc/girl,eyes,face,foto,portrait-20dc9d286e1d149c4519b7cb37fc0c78_h.jpg")
      //-     .loading-placeholder
      //-         //- i.loading.icon.circle.notched
      if searchingDone
        each photoItem
          .photo-item
            .meta
              h4
                span.sharp #
                span {{ticket}}
              if luckyDraw
                .lucky-draw
                  +svgDiamond
                //- .circle
            .photo-wrapper
              if printed
                .printed
                  +svgSelphy
                  span 프린트 횟수 ({{printCount}})
              img.i(src="{{url}}")
              .loading-placeholder
                i.loading.icon.circle.notched
        if hasMore
          .photo-item.load-more
            button(class="{{loadingClass}}")
              span 더 보기
        if noSearchResult
          .search-no-result
            h3 검색한 사진은 존재하지 않거나 삭제됐습니다
      else
        .search-loading
          .inner
            .snake-container
              svg.rotator
                circle(class="path" stroke-width="2" r="23" cx="27" cy="27")

            h4 검색중..