template(name="trashList")
  if Template.subscriptionsReady
    +each Trashes
      .trash-wrapper
        .trash-header
          .left
            span.profile
            span.username {{createdUserName}}
          .right
            span.createdAt {{moFromNow createdAt withoutSuffix}}
        .trash-body
          .img-wrapper
            img.trash-img(src="{{imageUrl}}")
          .action-bar
            a(href="#" data-action="goto-comments")
              //- i.ion-chatboxes
              i.ion-ios-chatboxes-outline
            a(href="#")
              //- i.ion-map
              i.ion-ios-location-outline
            if lgtm
              a(href="#")
                //- i.ion-ribbon-b
                i.ion-ios-heart-outline
                | {{lgtm}}
          .description
            | {{description}}
  else
    h1 Loading