template(name="trashList")
  // EACH TRASH
  .trash-wrapper
    .trash-header
      .left
        span.profile
        span.username 쓰레기투척자
      .right
        span.createdAt 방금 전
    .trash-body
      .img-wrapper
        img(src="http://www.korea.kr/newsWeb/resources/attaches/namo/2009.09/12/59823/%EB%92%A4%EC%84%9E%EC%97%AC%20%EC%9E%88%EB%8A%94%20%EC%93%B0%EB%A0%88%EA%B8%B0-1.jpg")
      .action-bar
        a(href="#")
          //- i.ion-chatboxes
          i.ion-ios-chatboxes-outline
        a(href="#")
          //- i.ion-map
          i.ion-ios-location-outline
        a(href="#")
          //- i.ion-ribbon-b
          i.ion-ios-heart-outline
      .description
        | 향기로운 쓰레기님이 탄생하셨습니다.

  .trash-wrapper
    .trash-header
      .left
        span.profile
        span.username 제주클리너
      .right
        span.createdAt 3분 전
    .trash-body
      .img-wrapper
        img(src="http://www.korea.kr/newsWeb/resources/attaches/namo/2009.09/12/59823/%EB%92%A4%EC%84%9E%EC%97%AC%20%EC%9E%88%EB%8A%94%20%EC%93%B0%EB%A0%88%EA%B8%B0-1.jpg")
      .action-bar
        a(href="#")
          //- i.ion-chatboxes
          i.ion-ios-chatboxes-outline
        a(href="#")
          //- i.ion-map
          i.ion-ios-location-outline
        a(href="#")
          //- i.ion-ribbon-b
          i.ion-ios-heart-outline
      .description
        | 홍어같은 쓰레기님이 탄생하셨습니다.

  .trash-wrapper
    .trash-header
      .left
        span.profile
        span.username 제벤저스
      .right
        span.createdAt 하루 전
    .trash-body
      .img-wrapper
        img(src="http://www.korea.kr/newsWeb/resources/attaches/namo/2009.09/12/59823/%EB%92%A4%EC%84%9E%EC%97%AC%20%EC%9E%88%EB%8A%94%20%EC%93%B0%EB%A0%88%EA%B8%B0-1.jpg")
      .action-bar
        a(href="#")
          //- i.ion-chatboxes
          i.ion-ios-chatboxes-outline
        a(href="#")
          //- i.ion-map
          i.ion-ios-location-outline
        a(href="#")
          //- i.ion-ribbon-b
          i.ion-ios-heart-outline
      .description
        | 발냄새나는 쓰레기님이 탄생하셨습니다.