head
  title Moments App
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
  script(type="textvascript" src="is.daum.netpsps3.js?apikey=c7207b9e0dd7b1279946753c84e7e68a")

body
  +Router